[2019-02-25 19:26] RandomJo opened #1 "Unable to install plugin from CP"
I am getting an error when I try to install your plugin from the Plugin Store section of the CP. I'm on Craft 3 and Commerce 2. I've tried installing from the beta version of Commerce 2, and I've also tried on the develop branch. Below is the error from the develop branch. When I try it back on the beta version of Commerce, it errors out, but there's nothing in the Response section.

-------------

[2019-02-27 00:28] mediabeastnz commented on #1
@RandomJo I'll take a look at this right away for you 👍

[2019-02-27 00:32] RandomJo commented on #1
Awesome, we've got a client who's interested in having us try it out so that'd be much appreciated.

[2019-02-27 00:46] mediabeastnz commented on #1
Hey @RandomJo I've just tried on a fresh Craft Commerce install and it worked. Can you maybe paste a copy of your compose.json file.

[2019-02-27 01:43] RandomJo commented on #1
We actually just upgraded to the new 2.1 release, and after doing that it installs just fine! Sorry for the false alarm. I appreciate you looking into it.

[2019-02-27 01:46] mediabeastnz commented on #1
@RandomJo No problem

[2019-02-27 01:46] #1 closed

[2019-02-27 18:51] RandomJo opened #2 "Email not sending"
I have installed your plugin on my staging site, and I can see that things are working to some degree, but the actual email never appears to have sent. I can see in my cron log that the emails get added to the queue:
[code]

And then in the queue log, I can see that the send function was run:
[code]

But, I haven't received an email and I've checked SendGrid for evidence of the email being sent an

[2019-02-27 21:19] mediabeastnz commented on #2
Hey @RandomJo, if the sending failed for any reason there would definitely be something in the logs (I'm catching and returning all steps of the send mail process).

I'll just triple check a fresh install and make sure it's sending. I use malign but that shouldn't make any difference.

[2019-02-27 23:08] mediabeastnz commented on #2
@RandomJo the plugin is definitely sending emails. Maybe your queue hasn't been triggered yet?
If you look in the dashboard this will give you a good insight into the status of each cart.

By default the email will be pushed to the queue and have a delay of 1hr.

If you have any suggestions on how to improve the visibility of this, submit a feature request here and I'll see what I can do.

[2019-02-28 01:01] RandomJo commented on #2
The dashboard says the emails have sent, but I didn't receive them and SendGrid has no record of them. It does, however, have records of the test emails I sent through Craft to make sure emails were working generally.

Here's my view of the dashboard with email addresses obfuscated: https://www.evernote.com/l/AT98kWRs9h5A0J1kB0kIwZdapbRnOjrA3QU

And here's my view of our SendGrid activity:
https:/

[2019-02-28 02:53] mediabeastnz commented on #2
@RandomJo thinks for the screenshots, are you able to send me a copy of your logs as well? Maybe there's something in there that might help me pinpoint what's going on.

[2019-02-28 06:28] 23d1 opened #3 "Feature Request: URL that triggers looking for abandoned carts and sending emails accordingly"
Any chance of having a URL function as the trigger looking for abandoned cart and sending emails accordingly? Could be a button as well, on the plugin page.

The reason I ask is because in some situations you might not have access to cron and want to use an online cron service that just visits a URL, or even triggering from the admin panel with the push of a button. Perhaps even one for checking a

[2019-02-28 15:43] RandomJo commented on #2
Sure, no problem!

When I run `php craft abandoned-cart/reminders/schedule-emails`, I see:
[code]

When I run `php craft queue/run` queue, there is no output.

This is all see in queue.log when I search for "abandoned" (appears several times):
[code]

Let me know if you think anything in web.log or console.log would be helpful. I searched "abandoned" and didn't see anything in those. I also search

[2019-03-01 01:47] mediabeastnz commented on #3
Hey @23d1, this feature is already in progress. It's especially helpful for developers when trying the plugin out. Should be release in the next week or two.

[2019-03-01 04:39] 23d1 commented on #3
Fantastic! I'll keep an eye out.

[2019-03-04 20:06] RandomJo commented on #2
Are you on the Craft Discord? I'd be happy to talk in real time there if that would be helpful.

[2019-03-04 20:24] mediabeastnz commented on #2
@RandomJo sure am - message me at mediabeastnz

[2019-03-04 22:59] mediabeastnz commented on #2
@RandomJo are you happy if I mark this as closed?

Emails are sending correctly right? I just need to better document the delays/queues better.

[2019-03-06 14:33] RandomJo commented on #2
I'm still doing some testing. I got tied up on my end the last few days so haven't been able to confirm everything is working as expected now. I'll be able to get back to you in a day or two.

[2019-03-07 18:08] RandomJo commented on #2
This is working as expected. I just had some misunderstandings about how everything worked. The extra documentation should clear things up. Thank you!

[2019-03-07 18:49] mediabeastnz commented on #2
@RandomJo thanks for the feedback and testing - I'll update the documentation to make things clearer in the next release 👍

[2019-03-07 18:49] #2 closed

[2019-03-19 09:06] mediabeastnz commented on #3
@23d1 I've just release a new [version](https://github.com/mediabeastnz/craft-commerce-abandoned-cart/releases/tag/1.1.0) that lets you manually check for abandoned carts from the dashboard. This basically does the same as a cron job  ✌️

[2019-03-19 09:06] #3 closed

[2019-04-08 14:09] mikeymeister opened #4 "Missing Class Error"
I have installed the plugin but I am having difficulties getting the emails to send. In the queue table of the database, my SendEmailReminder job shows a failed status with the error message:
`Class 'mediabeastnz\abandonedcart\models\CartRecord' not found`
Looking in the logs the full message is:
`Error: Class 'mediabeastnz\abandonedcart\models\CartRecord' not found in /ProjectPath/vendor/mediabea

[2019-04-08 14:42] mikeymeister opened #5 "Configurable cart redirect"
It would be good if the redirect in the restore cart action (BaseController) was configurable so a secondary redirect was not necessary to send the user to somewhere other than /shop/cart.

[2019-04-08 23:41] mediabeastnz commented on #4
Hey @mikeymeister i'll take a look with a fresh install and see if I can replicate.

[2019-04-08 23:43] mediabeastnz commented on #5
Can you give me an example of what you'd like the restore cart action to do?

[2019-04-09 08:54] mikeymeister commented on #5
Thanks for the quick reply.
I may have over complicated my comment. After it restores the cart, the controller redirects to /shop/cart. On our sites we often use /basket instead, for example. It would be good if we could define our cart url in the plugin. Thanks.

[2019-04-09 21:44] mediabeastnz commented on #4
@mikeymeister thanks for reporting this one, it turns out that classes was removed in version 1.1.1. I've added it back in and published a new version so everyone can quickly update.

I've also added your feature request #5 as it was a great idea!

[2019-04-09 21:44] #4 closed

[2019-04-09 21:46] #5 closed

[2019-05-08 16:25] sunscreem opened #6 "Re-installation fails with no error"
Because of reasons, I had the plug in installed, then uninstalled. When I re-installed it I couldn't activate it from the CP. The error was just "cannot activate plug in".

Running the activation from the command line showed that it was failing because the abandoned cart table already existed in the database.

Might be an idea to handle that?

[2019-05-08 16:26] sunscreem opened #7 "Question about usage/testing"
Hello again, Can I ask how to test this is working?

Plug in installed, added some items to my basket, waited an hour, but nothing happened and nothing is showing up in the CP?

[2019-05-08 20:38] mediabeastnz commented on #6
Hi @sunscreem I'll take a look, thanks for loggin an issue.

[2019-05-08 20:43] mediabeastnz commented on #7
Hey @sunscreem can you give me more details on the version you're using please.

There are a couple ways to test, first one is to click the "check for abandoned carts" button in the CMS (note this would require an item to be in your cart for at least 1hr) the next is to get the cron job up and running which basically does the same as the previous option.

When i'm testing I actually change the "da

[2019-05-09 16:39] sunscreem commented on #7
Hey, I've installed the latest version (1.1.2.1) on craft 3.1.25 and commerce is 2.1.5.2.

Being super lazy, as I could go and read your code, but can you run through how the process works? I see that all carts on the site are actually orders that aren't completed. So I'm guessing when the command runs it looks for anything over a certain time that needs marked as abandoned? They reason I ask is I

[2019-05-09 17:09] sunscreem opened #8 "Key "0" does not exist as the array is empty"
Hey @mediabeastnz,

Sorry to 'bug' you on this but I'm hoping to get this shipped to the client (and you paid) next week, so I'm hoping you can shortcut the bug solving process.

I'm now getting this when I click on Abandoned Carts menu option in the control panel :(

Any ideas? Maybe something we've done?

[code]

[2019-05-09 21:54] mediabeastnz commented on #8
I'll try and replicate and put a fix in place. Maybe try wiping all orders for now (if possible).
@sunscreem i'll be looking into your other questions over the next 2 days, i'll try and be speedy seeing as you're wanting to launch next week.

[2019-05-09 22:42] mediabeastnz commented on #6
Hey @sunscreem I've uninstalled and reinstalled multiple times to see if it can get it to fail but it works fine each time. Are you uninstalling and installing via the control panel?

[2019-05-09 22:49] mediabeastnz commented on #7
@sunscreem yeah so it wont look back further than 12 hours. Ideally you'd want your system checking quite often via a cron job so all new orders are detected asap. Heres's a quick overview of what's happening:

Firstly the plugin checks to see if any orders are still in progress e.g. not complete and if they have been for more than 1hr the system will add it to the abandoned cart table (as long as

[2019-05-10 04:14] mediabeastnz commented on #8
Latest release (1.1.3) fixes this issue.

[2019-05-10 04:14] #8 closed

[2019-05-10 12:23] sunscreem commented on #8
@mediabeastnz FYI this fixed the issue thank you. Back to testing today.

[2019-05-10 12:24] sunscreem commented on #7
@mediabeastnz Thank you again sir - that all makes complete sense now :)

[2019-05-10 12:29] sunscreem commented on #6
Yeah - so with this one I think what happened was a weird screw up that I caused. I installed the plug in, then compose removed it without uninstalling it first - so the abandoned cart table was still present.

My suggestion is that, on install, if the abandoned cart table is present you dump it and start over? At the moment it fails silently (except for the craft log file)

[2019-05-12 20:11] mediabeastnz commented on #6
Good call - I'll look to add this feature in an up-coming release.

[2019-05-12 20:11] #6 closed

[2019-05-13 20:11] sunscreem commented on #7
Hi @mediabeastnz. Just finishing off testing on this and having (yet another) question.

Here's how I'm testing things:

1. Add some items to basket and partially complete the checkout with email address.

2. Edit the craft_order table entry, both the `created_at` and `updated_at` to about 2 hours ago.

3. Run `./craft abandoned-cart/reminders/schedule-emails` manually from the CLI.

4. Note that

[2019-05-13 20:59] mediabeastnz commented on #7
Hey @sunscreem great to here they're going into that table now. Does the dashboard say the first email is queued?

If you set the delay to 3hrs it will be put into the queue table with a run time of +3hrs.
You're best to set it to something rather low while testing.

[2019-05-14 08:40] mediabeastnz commented on #7
@sunscreem any luck? I've got this working on multiple sites so would love to get yours up and running :)

[2019-05-15 19:52] sunscreem commented on #7
Hey @mediabeastnz I've been dragged off onto other projects. I'll close this for now and re-open if I get any more issues. Hoping to get this into production early next week all being well.

[2019-05-18 13:06] sunscreem commented on #7
@mediabeastnz Woo-Hoo - its all working. Just waiting on approval from the client now. I may have to come back to you with a feature request - I've not tested this yet but does it handle out of stock products that are auto-removed from the site? For example, if there is an item with only 1 available, and another customer purchases it, how does you plug in handle that?

Again - I'm being lazy - I n

[2019-05-18 14:54] sunscreem opened #9 "Deprecation Error"
[code]

Might create a PR being as I've already taken enough of your time this week 😆

[2019-05-18 15:45] sunscreem commented on #9
https://github.com/mediabeastnz/craft-commerce-abandoned-cart/pull/10

[2019-05-18 15:45] sunscreem commented on #7
I'll open a fresh issue for this.

[2019-05-18 15:45] #7 closed

[2019-05-18 15:49] sunscreem opened #11 "Testing for stock level in cart items"
When then items in a cart go out-of-stock, usually due to a different customer purchasing the last one, the abandoned cart is still created and scheduled emails sent.

Is there a way to check for any cart items now being out-of-stock and triggering them to be removed from the cart?

Something like a `craft->removeOutOfStockProductFromCart()` type call? Maybe one already exists?

If so, that check

[2019-05-19 05:17] mediabeastnz commented on #11
Hey @sunscreem tricky scenario as many carts might have multiple items. I'd recommend handling this on the view cart page as even though a product might be out of stock you still want the customer to come back to the site and maybe buy something else.

It could be a good way to up sell other alternatives.

Thoughts?

[2019-05-19 05:27] #9 closed

[2019-05-19 10:14] sunscreem commented on #11
Yeah - true. Not sure how i'd feel as a customer to get a reminder email, to click through, to find out its sold out already though. Will have a wee think and re-open if I have a brain wave.

[2019-05-19 10:14] #11 closed

[2019-05-27 13:22] sunscreem opened #12 "Sent emails are not including the siteurl"
All up and running in production, but a strange bug is happening now.

The siteurl isn't being pre-pended to the button url in some of the emails.

I've had a couple of test emails through and the button has included the site url no-problem, but I just raised another test and sure enough the actual url generated in the template ended up being:

[code]

I'm just debugging now, but wanted to quickly

[2019-05-27 20:51] mediabeastnz commented on #12
Hey @sunscreem, good to hear you're up and running!

Are you using the default templates or your own custom ones?
The default templates use this to build the link `{{ siteUrl ~ checkoutLink }}`

`siteUrl` is a global variable in Craft so that should provide a full URL (https://example.com), specially when in production.

[2019-05-28 10:25] sunscreem commented on #12
Urgh @mediabeastnz - it was at my end.

Ignore alllllll of this.

[2019-05-28 10:25] #12 closed

[2019-05-28 16:04] sunscreem opened #13 "Problem with using custom email templates"
@mediabeastnz Guess who? AGAIN. I'm so sorry... Anyway.

I've tried everything to get my custom templates to work.

I have a custom template in my project in the usual templates folder at:

[code]

It took me ages to find out that the queued job was running successfully but silently failing and not sending any email :(

Eventually I found this in the queue.log:

[code]

So - can you help me work o

[2019-05-28 22:15] mediabeastnz commented on #13
Ahh I know why this is. The path `abandoned-cart\emails` is kind of taken by the plugin itself...

If you rename that folder and change it in the settings to something else other than that it will work.

In Craft you basically have 2 template modes and i use that path to determine it should be in control panel mode and not user templates.

Maybe try something like `emails/abandoned-cart/first-emai

[2019-05-29 11:48] sunscreem commented on #13
Yass - that's it working.

Maybe worth adding this to the helper text on the CP fields?

[2019-05-29 16:47] sunscreem opened #14 "Blank email address?"
Hey Myles,

![image](https://user-images.githubusercontent.com/7523595/58575366-ca486680-8239-11e9-9afc-09e4506f5a11.png)

Any guesses as to way this blank email might have happened?

[2019-05-29 18:46] mediabeastnz commented on #13
Will do!

[2019-05-29 18:46] #13 closed

[2019-05-29 21:42] mediabeastnz commented on #14
Can you please let me know what was saved in the database table for abandoned carts. I store the `orderId` and the email so I'm not sure how that would be created without an email.

I'll do some investigating my end today for you to see if someone can somehow trigger this scenario.

[2019-05-30 09:28] mediabeastnz commented on #14
Fixed with latest release `1.1.5`. I was checking for orders with emails set to `NULL` as that's what it should be according to the database structure of Craft Commerce. I submitted a pull request on their end also but in the meant time this fix will handle both scenarios 👍

[2019-05-30 09:28] #14 closed

[2019-05-30 19:11] sunscreem opened #16 "How this plug in works and question about recovered carts"
We've a non-tech person on our team asking how this plug functions. I make them some basic flow charts.

@mediabeastnz would you be so kind as to correct me if these are wrong? I've also a question below.

_get Abandoned carts_
![get Abandonded Carts (2)](https://user-images.githubusercontent.com/7523595/58657988-609e8a00-8317-11e9-86c8-e7cef96bf6e4.png)

then...

_schedule reminders_
![schedule r

[2019-05-31 10:16] mediabeastnz commented on #16
Hey @sunscreem nice diagrams, that's the flow of the plugin.

Do you mind making a separate issue for your 2nd question please :)

[2019-05-31 10:16] #16 closed

[2019-05-31 10:33] sunscreem commented on #16
Thank you. Good to know I'm getting my head around it :)

[2019-05-31 10:43] sunscreem opened #17 "Do queued emails get removed on cart recovery?"
Hey Myles. Lets say the first and second emails have been queued.

The first email is sent, and the user clicks through and restores their cart.

What happens to the queued second email job?

[2019-05-31 11:00] mediabeastnz commented on #17
There's a check to not actually send out an email if the order is already recovered. However I do need to change this so it removes it from the queue entirely.

[2019-06-02 13:09] sunscreem commented on #17
Got it - thanks myles. So the job remains queued, but won't actually email when it gets fired?

[2019-06-02 15:12] mediabeastnz commented on #17
Exactly. On my to do list though to completely remove it form the queue.

[2019-06-04 15:06] sunscreem commented on #17
Hello Sir,

Just trying to finish up my understanding of how the plug in handles restoring carts and not sending the second email. I'm sorry for the endless stream of questions.

Looks at the code I think the cart is marked as _recovered_ when an order is placed?

So would this be right:

1. Abandoned cart found, 1st email sent.
2. User clicks the link and their cart is _restored_.
3. They start t

[2019-06-04 16:56] sunscreem commented on #16
Last one I hope @mediabeastnz

![image](https://user-images.githubusercontent.com/7523595/58898211-ffe5c780-86f1-11e9-80c8-061a37087e77.png)

Just checking I'm understand this last step?

[2019-06-04 16:56] sunscreem commented on #16
Sorry for the awful "flow charts". Rubbish software I'm using.

[2019-06-06 03:14] 23d1 opened #21 "[Question] Email template overrides"
Where does the plugin check for email template overrides? I'm assuming `craft/templates/emails` is where it checks before defaulting to `vendor/mediabeastnz/craft-commerce-abandoned-cart/src/templates/emails`. Just confirming instead of looking into the source code.

Edit: Closing — didn't realize it was a setting all along. Just got back to building some ecommerce. My bad!

[2019-06-06 03:15] #21 closed

[2019-06-06 04:16] mediabeastnz commented on #21
@23d1 haha no stress, just sing out if you have any questions.

[2019-06-07 15:19] chadcrowell opened #22 "How to setup CRON"
Hi there, great plugin. I am looking for a little help. I have a VPS with about 10 sites on it. site1.com uses your plugin.

Setting up CRON jobs does not occur at the site level, like you might do for an account in WHM/cPanel. There is 1 CRON config area for the entire server. So this:

*/1 * * * *  php craft queue/run

Doesn't tell the server which site to run it on. Should I be specifying somet

[2019-06-07 16:21] chadcrowell opened #23 "Failing notification send error"
`2019-06-07 09:17:22 [-][1][-][error][craft\queue\QueueLogBehavior::afterError]  [4402] Send abandoned cart reminder (attempt: 1) - Error (time: 0.143s): No currency found with ISO code “”.` seems to be the main error. US dollar (USD) is set as the default currency, and that was default upon Commerce installation and hasn't been changed.

[code]

[2019-06-07 21:27] mediabeastnz commented on #23
Hey @chadcrowell I'm not sure how you've tried to display the currency in your custom template but you should be able to use something like this https://docs.craftcms.com/commerce/v2/twig-filters.html#commercecurrency

Let me know if you can't get that to work

[2019-06-07 21:40] mediabeastnz commented on #22
You're on the right track I'd expect that 2nd one to be how you do it on a VPS.

Id send a quick support request to your provider to see if you path is correct, saves time consuming debugging :)

[2019-06-07 21:40] #22 closed

[2019-06-07 21:43] chadcrowell commented on #23
Thanks. I copied your template directly, and just changed things like the company name and such. No code was changed.

[code]

[2019-06-07 23:12] mediabeastnz commented on #23
I see. In order to use those commerce "helper" functions you actually need access to an instance of commerce.

You can do that by adding something like this above that for loop:

[code]

I've actually just released version 1.2.0 which now includes this as well a new test mode.

[2019-06-07 23:12] #23 closed

[2019-06-10 23:33] 23d1 opened #24 "[Feature Request] Ability to visit url to trigger job"
Would be great to have the ability to simply visit a url to check for abandoned carts and execute the jobs. That way, if one does not have access to command line on the server, one could use online services (like EasyCron or Cronitor and so forth) to get the jobs running at an interval.

[2019-06-10 23:45] mediabeastnz commented on #24
I think that might be a bit risky as someone could potentially hit that URL (if they somehow found it).
Also the main craft cron would need to be fired as this is where the email jobs/tasks are sent.

I'll have a think to see how I could implement a solution that solves both the security issue and skipping the queue.

[2019-06-11 19:06] 23d1 commented on #24
Not sure if it's possible to do a HTML auth check, or hashed url in some way, but here's an example of what a cron-job.org setup looks;
<img width="724" alt="Screen Shot 2019-06-11 at 12 05 37 PM" src="https://user-images.githubusercontent.com/2627617/59299376-564a8d00-8c41-11e9-90e7-a0623467331f.png">

[2019-06-12 06:05] mediabeastnz commented on #24
Hey @23d1 I've just release version 1.3.0 which adds support for this (check out the README).

Basically there's now a URL that requires a pass key, if the pass key matches what is stored in the plugin settings then the job can be triggers. This will also trigger and process Craft's queue .

Let me know what you think and I'll mark this as implemented.

[2019-06-13 02:17] 23d1 commented on #24
Hey @mediabeastnz, testing as we speak and it seems to be working flawlessly. Will report back through a new issue if I run into anything. Closing this out.

[2019-07-01 12:50] sunscreem opened #25 "Confusion over the dashboard"
Hi Myles,

![image](https://user-images.githubusercontent.com/7523595/60437521-74832780-9c06-11e9-87a6-a920f2c77210.png)

Can you help me explain whats happening here? A few questions:

- Why are some carts showing "view" and some have "-"
- Why are some email addresses clickable and some not?
- Why do some carts have totals and others not?

[2019-07-01 12:57] sunscreem opened #26 "Weird issue immediately after a deploy"
Hi Myles,

After we deploy a site, the first time a user clicks a (valid) link to recover a cart, the restore seems to work, but the forward to the cart then throws a 500.

It very confusing as our bug tracking software isn't throwing an error when this happens.

Click the link again and everything works.

I went down a bit of rabbit hole and I've got as far as finding that rows in the `craft_elem

[2019-07-03 21:40] mediabeastnz commented on #25
Hey @sunscreem this happens when the original order is no longer there (for whatever reason).
I'll investigate this more to see if there's anything I can do to avoid this.

I'll leave this open for now

[2019-07-03 21:42] mediabeastnz commented on #26
Are you able to send me your logs or the 500 error response please.

[2019-07-04 10:48] sunscreem commented on #26
Will do, probably a few days as I'm away just now.

[2019-07-04 11:35] mediabeastnz commented on #25
1.3.1 should resolve this.

[2019-07-04 11:35] #25 closed

[2019-07-06 17:48] sunscreem commented on #25
@mediabeastnz Applied this update and all good now. Thank you.

[2019-07-06 17:50] sunscreem commented on #26
Myles - i'll close this and come back to it if the issue re-appears.

[2019-07-06 17:50] #26 closed

[2019-07-18 09:12] skoften opened #27 "Session issue with load balanced environment"
We've setup this plugin, but gettin this error:

![Screenshot 2019-07-18 at 11 10 16](https://user-images.githubusercontent.com/1286410/61444977-c210cb80-a94c-11e9-8f06-c93ff33f4ac5.jpg)

We're running our commerce site on 3 webservers (lighttpd) behind 1 loadbalancer (nginx ). Can this have something do to with it?

[2019-07-18 20:22] mediabeastnz commented on #27
I wonder if that is related to this issues https://github.com/craftcms/cms/issues/2798

Are you able to send me the stack trace for that and ill do some investigating.

[2019-07-19 07:31] skoften commented on #27
In which file can I find the stacktrace? I've searched queue.log and web.log for keyword "abandoned", but no stacktrace found.

Also, during development I had the plugin set to test mode, which seem to work fine. After adding them to my cronjob this error first came up.

[2019-07-19 08:14] skoften commented on #27
PS. I tried reinstalling it to remove some old data, but for some reason it won't accept the licence key anymore. The input field doesn't respond very well, and when I can add the code, it's doesn't update.

![Screenshot 2019-07-19 at 10 12 32](https://user-images.githubusercontent.com/1286410/61520185-eda7ba80-aa0d-11e9-9069-b4f0f8b8abc1.jpg)

[2019-07-19 21:05] mediabeastnz commented on #27
Hey @skoften yeah there should be a stack trace in one of those - maybe search for the error itself e.g. "session does not exist".

Have you created a custom template for abandoned carts? If so it could be that it can't find it or an assets within it.

Once I have the stack trace I can dig a little deeper 🙏

[2019-07-20 14:03] thejoshsmith opened #28 "Bob Lazar"
Robert Lazar (1959–) is a double-edged sword of UFO cranks. On the one hand, he's a pathological liar with a long laundry list of fantasies about working at Area 51. On the other hand, he runs United Nuclear, one of the very few chemical supply houses still supplying as many unrestricted chemicals as possible to amateur chemists. Make of him what you will, but if you need fifty feet of magnesium r

[2019-07-20 19:49] mediabeastnz commented on #28
👽

[2019-07-20 19:49] #28 closed

[2019-08-10 06:26] tomdeleu opened #29 "No possibility of applying settings in a php config file"
### Feature request

Most plugins allow for settings to be applied in a .php config file (/config folder)

This possibility doesn't seem to exist in this plugin. Could be very handy in multi environment setups, to define test mode only in dev environment for example.

[2019-08-10 06:40] mediabeastnz commented on #29
Good idea! I will try and put it in the next release this week :)

[2019-11-06 00:17] dawb opened #31 "Abandoned Carts Lists"
It would be handy to have the ability to export the list of customers and the products that they were ordering from the abandoned carts area.

Also having the ability to navigate between the lists of carts within this area would be good so you can access more that the last 14 carts.

[2019-11-06 00:59] mediabeastnz commented on #31
Pagination is enabled so you should be able to view quite a few per page.

As for your first feature request - that's quite a big feature and isn't on the roadmap for version 1 at least. Feel free to leave more information in regards to how you see this working though.

[2019-11-06 01:00] #27 closed

[2019-12-03 02:55] Coalescent opened #32 "Plugin not working? (no abandoned carts)"
Maybe I'm misunderstanding how the plugin works but here's what's happening...

Abandoned Cart 1.3.6
Craft Commerce 2.2.8
Craft 3.3.16.1

I purchased and installed your plugin and put it in test mode. I added some carts with different users and then left them to sit, taking no more actions on those carts.

After some time had passed (at least an hour for every cart), these carts eventually were li

[2019-12-03 07:50] mediabeastnz commented on #32
Hey @Coalescent sounds like you've got everything setup correctly.
Before we debug a bit more are you just using the default settings?

The plugin only triggers if the total is > 0, isn't marked as completed and has an email attached. Other than it should find the cart and then put the email in the queue with the appropriate delay.

I'll setup a local copy using your versions in the next day or tw

[2019-12-03 17:44] Coalescent commented on #32
Thanks @mediabeastnz. So I got up this AM and still no carts so I hit "Find Abandoned Carts" again and it found 2 of the 3 carts (yes, all are > $0, have email, not complete) and it sent first emails off successfully. What is puzzling is that it took so long. The Updated Dates on the two abandoned carts are each exactly 8 hours later than Commerce's updated dates. No idea why... but that would not

[2019-12-03 18:39] Coalescent commented on #32
I'm running some more tests... as a side note, if I update the column `dateUpdated` in `commerce_orders` (as per your docs) to an earlier hour, those orders disappear from the Commerce admin UI under Active Carts (no idea why - and they do not appear in the abandoned cart UI or table when hitting "Find Abandoned Carts" - or appear in the Commerce Inactive Cart UI).

Oddly, I can still access their

[2019-12-03 19:42] mediabeastnz commented on #32
That will likely be it. I'll play around with some settings and see if I can resolve this.

[2019-12-03 20:37] mediabeastnz commented on #32
Hey @Coalescent I've looked into this further and now that I think about it Timezones only really come into play for displaying dates in Craft.

For reference this is the bit of code that does the hard work.
This query searches for carts that have been inactive for 1hr (same as Craft's inactive cart feature) and no older than 12 hours (to prevent old carts being picked up).

[code]

[2019-12-03 21:23] Coalescent commented on #32
PHP is on the same timezone as Craft, so I guess that's not it. This is all running on my local atm... perhaps I'll update my findings when we push up to staging in the coming weeks. If you have any thoughts in the meantime though, would be keen to hear them.

[2019-12-03 21:28] mediabeastnz commented on #32
I'm actually planning on releasing a big update just after xmas which might help with some of these testing / visibility issues so i'll keep you posted. Also if you have any feature requests let me know.

[2019-12-03 21:36] Coalescent commented on #32
Ok - good to know. Maybe we'll hold off on testing this too thoroughly until then. The only item that's occured to me is that it would be nice to be able to suppress the second email (maybe that's possible already and I missed it in the docs). Thanks.

[2019-12-16 15:02] fantasticmachine opened #33 "Is it possible to disable second reminder?"
Is it possible to only send 1 reminder? How can I disable the second reminder?

I've tried leaving the time field blank, setting it to 0, or setting it to a huge number and it tells me the value has to be between 12 and 48 hours.
How can I disable it?

[2019-12-16 20:00] mediabeastnz commented on #33
That's not currently a feature but would be a pretty easy thing to add. I'll see if I can squeeze it in for the next release :)

[2020-02-14 23:26] mediabeastnz commented on #31
@dawb release `1.4.0` has a temporary feature to help with this. On the dashboard there's now an export button which simply shows all records as a json list (which you can use import into your own CSV etc).

It includes basic order and cart item details as well as customer email ✌️

[2020-02-14 23:26] #31 closed

[2020-02-14 23:28] mediabeastnz commented on #33
@fantasticmachine sorry for the delay on this... you can now disable this via settings in the `1.4.0` release ✌️

Disabling it basically just skips any attempt to schedule and send the 2nd email as well as showing a disabled status on the dashboard for the column.

[2020-02-14 23:28] #33 closed

[2020-03-04 09:37] billythekid opened #34 "Queue Error"
Hi, I have the abandoned cart plugin on a craft 3.4/commerce3 site and as recommended by craft moved the queue runners to a daemon.

I'm now getting this error in the queue manager (/admin/utilities/queue-manager/{queuid}) for "Send abandoned cart reminder" jobs

`Undefined variable: secondReminderDisabled `

Job data is:
[code]

Is this something on my end or something in the plugin?

Cheers

PHP

[2020-03-05 20:22] mediabeastnz commented on #34
Will check this out now @billythekid

[2020-03-06 22:02] mediabeastnz commented on #34
All sorted @billythekid

[2020-03-06 22:02] #34 closed

[2020-03-09 14:24] billythekid commented on #34
Brilliant, I've applied the fix and the queue runs. Thanks very much.

[2020-03-12 12:45] billythekid opened #35 "[FR] Fire Events"
I was wondering if we could maybe get a couple of events fired from the plugin, in particular when an AbandonedCart is `save()`d so that we can hook into this and prevent the save (or amend it)

My particular use-case is that my automated testing of the checkout process on the production server is creating abandoned carts (because we're not completing them) and this is muddying the conversion numb

[2020-03-12 18:23] mediabeastnz commented on #35
@billythekid 😬 I'm actually in the process of making them into Elements as they come with lots of features, it's just a lot of work to implement - it's in progress though!

In the meantime I can easily add a few events like the one you mention.

An alternative to this is I add the feature that allows you to "blacklist" emails from triggering the plugin?

[2020-03-12 19:22] billythekid commented on #35
Yeah I think that might be a good idea for non-devs too. That way they could prevent their own tests from screwing with the numbers.

It would definitely meet my use-case above.

[2020-03-12 19:28] mediabeastnz commented on #35
Easy, leave it with me

[2020-04-08 04:34] mediabeastnz commented on #35
Released in version 1.5.3 ✌️

You can add a comma separated list of emails under settings and they will be ignored.

[2020-04-08 09:34] billythekid commented on #35
Nice one, cheers!

[2020-04-15 18:01] 23d1 commented on #24
Testing again with later versions, and cron-job.org reports "response data too big" and "service unavailable". Would it be better to use POST instead of GET and send custom headers or something like that?

[2020-04-16 17:04] billythekid commented on #35
Heya @mediabeastnz,

I'm still getting abandoned carts for blacklisted email addresses. Can you take a look please?
<img width="1747" alt="Screenshot 2020-04-16 at 18 02 26" src="https://user-images.githubusercontent.com/330170/79485012-763ea000-800c-11ea-9e33-0423c648a0a9.png">

<img width="1569" alt="Screenshot_2020-04-16_at_17_55_48" src="https://user-images.githubusercontent.com/330170/7948500

[2020-05-11 18:55] 23d1 commented on #24
Bumping and also commenting that it seems one needs to be logged in to run the URL.

[2020-06-01 19:41] 23d1 commented on #24
Any movement on the plugin development?

[2020-06-14 07:36] skoften opened #37 "Failed to sent reminder"
![Screenshot 2020-06-13 at 10 11 39](https://user-images.githubusercontent.com/1286410/84587766-654eb700-ae22-11ea-9f63-b229e4546708.jpg)
![Screenshot 2020-06-13 at 10 11 35](https://user-images.githubusercontent.com/1286410/84587768-67b11100-ae22-11ea-90cc-067bd4e2d814.jpg)

I tried changing the php session to the database via app.php, no effect, same errors.

Craft CMS 3.4.22, using a systemd as

[2020-06-17 04:52] mediabeastnz commented on #37
Thanks @skoften i'll take a look

[2020-07-14 08:57] skoften commented on #37
Any update on this? Still having this issue on a daily base :-(

[2020-07-16 17:55] BrandonJamesBorders commented on #32
@mediabeastnz I've debugged and feel confident this is a timezone issue. This is what I did:

1. Create a new cart, output the id, look up the value in the database. Notice it is UTC. Adjust it back one hour anyway. Verify that the plugin does not recognize my cart as abandoned.
![image](https://user-images.githubusercontent.com/6044898/87704869-05be3100-c76b-11ea-909f-75f0100120a4.png)
2. Investi

[2020-07-27 10:58] BrandonJamesBorders commented on #32
@mediabeastnz Will you have time to review the PR soon?

[2020-08-03 09:40] mattsbanner commented on #29
Hi @mediabeastnz

We're currently building a site with this plugin running across 3 environments and this would be really useful to us.

Is this something we might see soon?

Thanks 😄

[2020-08-05 21:41] mediabeastnz commented on #32
Fixed with #39

[2020-08-05 21:41] #32 closed

[2020-08-05 22:13] mediabeastnz commented on #35
@billythekid this is definitely working as expected using the latest version.

[2020-08-05 22:35] mediabeastnz commented on #37
@skoften sorry I haven't had much time to work on this recently 😬

Are you able to send me a sample of your logs file so i can see where this is failing as I can't replicate.

[2020-08-06 00:11] mediabeastnz commented on #29
Support for environment settings is supported in version `1.6.0`

[2020-08-06 00:11] #29 closed

[2020-08-06 06:26] skoften commented on #37
Sure, queue.log: https://pastebin.com/0EWi1zwe

[2020-08-10 12:31] paulgoodfield opened #41 "SQL query in widget preventing users from accessing CMS"
Hi there,

We recently installed the plugin for a client and all seemed to be working fine, but in the last few days the client was getting an Internal Server Error when trying to login to the CMS control panel.

I checked through the error logs and found that there's an ambiguous 'id' being selected in the query in the TotalCartsRecovered widget.

Full related error:

[code]

Versions:

Craft: 3.

[2020-08-15 02:11] mediabeastnz commented on #37
@skoften Can you please send me your `abandoned-cart-second.html` file?

[2020-08-15 06:50] skoften commented on #37
I've sent them by email!

[2020-08-16 20:43] mediabeastnz commented on #37
@skoften Based on the logs you sent me, it looks like something in your templates is calling a function that is uses `Session`. This can't be used via the console and will through an error.

I believe it might be might the line
[code]

If you don't need to use `cart` i would just remove that line.

[2020-08-17 05:42] skoften commented on #37
Nice, removed it and now it works. Thanks!

[2020-08-19 00:45] #37 closed

[2020-09-10 12:07] iamtompickering opened #42 "Allow non-admin users to access Settings"
Would it be possible to allow non-admin users to access the settings of this plugin?

My client would like to update the discount code using their account, but a message comes up saying they are not authorised.

I have checked in the user permissions, but there aren't any options to allow them access. I do not want to make their account a full admin either.

[2020-09-10 13:50] BrandonJamesBorders commented on #41
@mediabeastnz Had this issue as well. Please review my PR. Thanks!

[2020-09-14 08:47] WHITE-developer opened #44 "Empty cart mails are sent"
Hello,

We've used your plugin in some of our projects. In two of them we received messages from customers complaining about empty mails. So a cart without any products, like this:

![image](https://user-images.githubusercontent.com/22771556/93063910-34775b80-f677-11ea-851b-8cc52eee6e9f.png)

I see there is a check for totalPrice before sending, but it looks like this isn't working as we should ex

[2020-09-15 08:46] iamtompickering opened #45 "Disabling first reminder"
I can see in the settings that you have the option to 'Disable 2nd Reminder', but would it be possible to also add an option to 'Disable 1st Reminder'?

My client has asked to temporarily disable both emails from being sent out, and currently the only way to do this would be to disable the whole plugin. But it just doesn't seem right to do that.

[2020-09-17 09:42] paulgoodfield commented on #41
@BrandonJamesBorders any idea if your fix has been merged yet?

[2020-09-22 03:09] julienmarie opened #46 "Is it compatible with PostgresQL ?"
Tried installing on a Craft CMS install with PostgresQL, but I keep encountering SQL errors everywhere.

[2020-09-22 14:16] BrandonJamesBorders commented on #41
@paulgoodfield It has not. If you need to pull in my fix, you can replace the appropriate line in your composer file with this one:

`"mediabeastnz/craft-commerce-abandoned-cart": "dev-patch-2",`

[2020-10-02 02:16] #41 closed

[2020-10-04 11:33] bhashkar007 opened #47 "Class Error while accessing Craft Dashboard."
While going to Craft Dashboard, I am getting following error:
[code]

Craft CMS v3.5.11.1
Craft Commerce v2.2.22
Abandoned Cart for Craft Commerce v1.6.2

Could you please help.

[2020-10-06 20:32] mediabeastnz commented on #47
Hi @bhashkar007 i've just installed all those versions and the dashboard and widget is working as expected.

Can you maybe upgrade to the latest version of Commerce?

Also a few more questions for you:
- what PHP version?
- a you using craft pro and commerce pro?

[2020-10-08 03:10] bhashkar007 commented on #47
Hi @mediabeastnz
Thanks for your response.
- PHP v7.4.4
- Yes, I am using Craft Pro and Commerce Pro

[2020-10-22 07:54] TomDeSmet opened #48 "FR: translate e-mail subjects"
It seems to be impossible to translate e-mail subjects at the moment. Could you add the Craft translator functionality to them, please?

[2020-11-02 13:07] bhashkar007 opened #49 "Abandoned Cart stopped working"
I have setup Abandoned Cart plugin and it was working fine. But unfortunately, it stopped working since a couple of weeks. Could you please help.
I am using:
PHP v7.4.4
Craft Commerce v3.2.8.1
Abandoned Cart v1.6.2

[2020-11-16 08:49] iamtompickering opened #50 "Change currency of totals"
Is it possible to change the currency of the total values in the dashboard area?

E.g. Total Recovered and Recovered This Month.

The order prices are showing as GBP, but Total Recovered and Recovered This Month are showing as USD.

[2020-11-30 13:43] TomDeSmet opened #51 "Multi-site support?"
When I have a cart created in a multi-site with a different language, all mails are sent in the default sites language.
Is there any support for multi-lingual sites? It doesn't seem to work as the default e-mails (eg. order mails) in Craft Commerce itself.

[2020-12-02 10:09] mediabeastnz commented on #49
What do you mean by "stopped working"?

I've tested these exact versions and it's working as expected.

Is there any additional information you can give me?

[2020-12-02 10:12] mediabeastnz commented on #49
Duplicate #47

[2020-12-02 10:12] #49 closed

[2020-12-02 10:13] mediabeastnz commented on #47
I've tested these exact versions and it's working as expected.
Is there any additional information you can give me?

[2020-12-02 10:17] mediabeastnz commented on #50
The individual orders can be placed in different currencies so they are being returned "as is" so to speak.

The "Total Recovered and Recovered This Month" are using the stores base currency.

Is your base currency USD?

[2020-12-02 10:22] mediabeastnz commented on #44
Hey @WHITE-developer yeah there are a few checks in place way before the email is sent e.g.
- totalPrice > 0
- isCompleted = 0
- email != ""

I could however strengthen this by double check these just before an email is sent.

[2020-12-02 11:37] bhashkar007 commented on #47
Hi @mediabeastnz
I can share Craft dashboard access. Please provide your email on which I can send login details. I guess, it will be quick for you to look into.

[2020-12-02 19:34] mediabeastnz commented on #47
Hi @bhashkar007 the dashboard won't tell me too much - are you able to instead send me any log files from `storage/logs`.
I think you have my email address already.

[2020-12-07 10:24] mediabeastnz commented on #47
Hi @bhashkar007 I've had a look through your log files but can't find anything that has more details on the issue you're having.

Is there anything special about your configuration that I might be missing as I've setup a fresh install and have had no issues.

[2021-01-04 08:58] TomDeSmet commented on #51
Maybe use this new Craft Commerce addition for order e-mail language: https://github.com/craftcms/commerce/pull/1895/commits/b32b4de89d8b96b928d07e14aca836aca04f8e23

[2021-02-15 09:14] WHITE-developer commented on #44
Hi, I'm not sure why this happens sometimes. Would be great to do extra check.

Maybe it has something to do with purchasables that are not available anymore or something like that, it that possible?

[2021-03-30 14:31] TomDeSmet commented on #51
Any ETA on this feature?

[2021-04-12 20:08] mediabeastnz commented on #51
Hey @TomDeSmet sorry I'm juggling two big projects at the moment so haven't had much time for this - I'll look into this over the next week though!

[2021-07-09 10:43] TomDeSmet commented on #48
Any news on this?

[2021-07-19 21:23] piotrpog opened #52 "Make URL of "find abandoned carts button" contain domain"
Right now URL looks like thus `/actions/abandoned-cart/base/find-carts?passkey=xyz` which makes ist work incorrectly if Craft is installed into some subdirectory on server, like `domain.com/subdirectory/web`

[2021-07-20 09:41] piotrpog opened #53 "Dont show "find abandoned carts button" until test mode is enabled"
Without test mode enabled, it shows permissions error and just confuses people.

[2021-07-20 09:42] piotrpog opened #54 "Make "find abandoned cart" redirect back into plugin page"
Right now it redirects into homepage.

[2021-07-29 08:52] fantasticmachine commented on #24
This was working but on a current version has stopped. I believe the controller needs to be changed to allow anonymous access. Will submit a pull request with the change.

[2021-08-26 21:52] samhibberd opened #56 "Support custom mailer component"
Hi @mediabeastnz, we use a custom mailer component to handle all emails, would love it if you could support this by using the loaded mailer config to compose the new message.

I think you would just need to replace the `$newEmail = new Message();` here:

https://github.com/mediabeastnz/craft-commerce-abandoned-cart/blob/27a7c5ade8cdb9338e4b15a3888c04cf3be26f07/src/services/Carts.php#L325-L329

wit

[2021-09-07 09:45] celexus opened #58 "Send abandoned cart reminder showing as "Delayed" in Queue Manager"
I have a 20 abandoned cart reminders sitting in my Queue Manager showing as "Delayed" - how do I solve this issue ?
Why would an abandoned cart reminder email end up as "Delayed" ?

![Capture](https://user-images.githubusercontent.com/6831255/132323510-daf68cff-3074-488e-b029-b300cb01714f.PNG)

[2022-01-31 17:59] joshuapease commented on #35
Some events would be super helpful for a client need that we have.

Manually adding emails to the blacklist isn't an option for our client, so we're hoping to build a an automated way for users to add their emails to a list (we'd build our own custom controllers / records to store the blocked emails).

If we had access to some events before save or email send, we could check our custom blacklist a

[2022-02-02 00:17] samhibberd opened #59 "Email Blacklist Event"
Hey, would you be open to a PR or willing to add an event that would allow us to add emails to the blacklisted emails stored in the plug-in settings, before they are used in the abandoned cart query?

We need to support unsubscribing directly from emails, and project config makes this tricky to implement as a direct update of the plugin settings.

[2022-02-14 19:10] joshuapease commented on #35
It dawned on me that records emit events.

I'm going to attempt creating my own dynamic list of blocked emails and invalidate the `AbandonedCart` record if exists in the list.

[code]

[2022-04-12 16:41] mythdigital opened #61 "Column not found: 1054 Unknown column '' in 'where clause'"
We're experiencing an issue with the plugin. It does sound data related, but we're struggling to pinpoint a fix. Running the find abandoned carts command is giving the following exception. We can't find the issue with the SQL query.

[code]

[2022-05-10 09:32] terryupton opened #62 "Plans to support Commerce 4?"
Are there any plans for this plugin to support Commerce 4?
I am considering implementing for a client tin their existing commerce 3 setup, but I don't want this to become a future blocker to Commerce 4.

[2022-05-23 10:36] sunscreem commented on #62
Hey @mediabeastnz - just wondering if you have any thoughts on this?

[2022-06-07 15:13] shornuk opened #63 "Second reminder sent after the email address was added to blacklist"
We've had scenario recently, where

1. Someone has received the first reminder email.
2. They emailed us to be removed
3. We added them to the blacklist
4. Second reminder was then sent

I can see that the blacklist is only checked at the point of getting abandoned orders. Am I right in thinking that the reminders are both queued at the point of finding the abandoned order? Ideally if it could che

[2022-06-29 10:28] sunscreem commented on #62
Hey @mediabeastnz  - Any thoughts on this one - I'm keen to get a Craft 4 update completed :)

[2022-07-09 10:42] mediabeastnz commented on #62
Hey @sunscreem sorry yes. I've started updating my plugins. Sorry time on these plugins are limited these days...

[2022-07-11 02:59] mediabeastnz commented on #62
Support added as of 2.0.0

[2022-07-11 02:59] #62 closed

[2022-07-11 03:07] mediabeastnz commented on #54
This is now resolved in the latest release - 2.0.1

[2022-07-11 03:07] #54 closed

[2022-07-11 03:10] mediabeastnz commented on #52
This will be added in 2.0.1

[2022-07-11 03:10] #52 closed

[2022-07-11 03:12] #47 closed

[2022-07-11 03:15] mediabeastnz commented on #42
This feature exists in 2.0.1

[2022-07-11 03:15] #42 closed

[2022-07-11 03:16] mediabeastnz commented on #61
Sorry for the slow response, did you find a fix for this in the data? Or does it still happen?

[2022-07-11 03:20] mediabeastnz commented on #53
Fair point. I'll hide this until test mode is enabled

[2022-07-11 03:20] #53 closed

[2022-07-11 03:26] mediabeastnz commented on #56
Done in 2.0.1

[2022-07-11 03:26] #56 closed

[2022-07-11 03:52] #50 closed

[2022-07-11 03:53] mediabeastnz commented on #58
This is how jobs are sent to the queue. Those emails are likely scheduled to be sent in 1hr or 12 hours using the default settings.

[2022-07-11 03:53] #58 closed

[2022-07-11 07:57] mediabeastnz commented on #63
A PR would be awesome as this would probably require a decent changer to how the jobs are scheduled.
They both get scheduled currently at the same time with different delays. For this to work you'd either want to find the queued job and cancel it (not easy) or on schedule the 2nd once the first one has been sent (probably a better idea now that I think about it).

[2022-07-11 08:00] mediabeastnz commented on #59
This can be done using environment variables is that makes it easier for you? Otherwise I can look to add an event that would allow other developers to tap into the the blacklist.

[2022-07-11 08:01] #35 closed

[2022-07-11 08:03] mediabeastnz commented on #63
A solution to this should also fix issue #17

[2022-07-11 08:53] mediabeastnz commented on #46
A few queries would need to change in order to support Postgres. I'll see what I can do (PR's welcome)

[2022-07-11 10:01] samhibberd commented on #59
An event would be awesome, fairly high traffic site and the list is growing (we currently are using env vars).

Many thanks.

[2022-08-04 15:15] samhibberd commented on #44
Hi @mediabeastnz, this is something that could be improved for sure.

I think it's caused by a cart getting recalculated when saved before sending, at this point any line items that are no longer available would get removed from the cart and a notice will get added (same goes for any price changes).

https://github.com/mediabeastnz/craft-commerce-abandoned-cart/blob/aed73d7ad5d29e435d6bf9a0d54f124

[2022-08-07 20:24] mediabeastnz commented on #44
I'll look to release the update over the next couple days

[2022-08-09 12:08] antcooper commented on #44
+1 Our client has mentioned that some empty emails have been sent too.

[2022-10-31 22:00] billmn opened #64 "CP Widget error on Commerce 4.2"
With Commerce 4.2, the settings of the average order widget have been changed.

This plugin uses the same settings view as the widget mentioned above and now an exception is thrown in the dashboard with the message: `orderStatuses is not defined`

[2022-11-02 12:25] jerome2710 commented on #64
I'm experiencing this issue as well, my pull request seems to fix it 👆🏻